
:root {
	--primary-color: #4B2819;
	--secondary-color: #8C6152;
	--background-color: #EFE8E1;
	--button-color: #FC5B0D;
	--about-color: #EBC0AD;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--secondary-color);
  background-color: var(--background-color);
  font-size: 1.125rem;
  font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}

/* common elements */

h1,
h2,
h3
 {
  font-family: 'Exo', sans-serif;
  color: var(--primary-color);
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.7rem;
}

.button {
	border: none;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
	border-radius: 5px;
	padding: 12px 22px;
	cursor: pointer;
	color: var(--background-color);
	background-color: var(--button-color);
	outline: none;
	text-decoration: none;
  font-weight: 600;
}

.container {
	max-width: 1366px;
	margin-right: auto;
	margin-left: auto;
  padding-left: 4vw;
  padding-right: 4vw;
}

.center-box {
  display: grid;
  place-self: center;
}

/* navbar */
.navbar ul {
	margin: 0;
	padding: 5px;
	list-style-type: none;
	text-align: center;
	}

.navbar ul li {
	display: inline;
	}

.navbar ul li a {
	text-decoration: none;
	padding: .5rem 1rem;
	color: var(--primary-color);
	}

.navbar ul li a:hover {
  color: var(--secondary-color);
}

/* Landing page */
.landing {
  background-image: url(./assets/hero.jpg);
  min-height: 100vh;
  background-size: cover;
  position: relative;
  margin-bottom: 0px;
}

.landing h1 {
	top: 20vh;
	margin-top: 0;
	display: block;
	position: relative;
	max-width: 78%;
	color: var(--primary-color);
	font-size: 5.21vw;
	line-height: 104%;
	font-weight: 700;
  text-align: left;
  margin-bottom: 0px;
}

.landing .light {
	margin-top: 0px;
	color: var(--secondary-color);
}

.landing p {
	max-width: 500px;
	font-size: 1.2rem;
	line-height: 150%;
	position: relative;
	top: 27vh;
	display: block;
  text-align: left;
  color: var(--primary-color);
}

.landing .button {
	position: relative;
	top: 40vh;
}

/* About page */
.about-top {
  min-height: 300px;
  background-color: var(--about-color);
}

/* header and footer  */
.header,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header img {
  max-height: 45px;
}

.footer img {
  max-height: 60px;
}
.footer > div > img {
  max-height: 25px;
  padding-left: 5px;
}


@media screen and (max-width: 767px) {
  .main-box {
    flex-direction: column
  }
}